@model IEnumerable<SISPTD.Models.DistribProcesso>


@using (Html.BeginForm())
{
    <div class="input-group">
        <div class="input-group-btn">
            <a href="@Url.Action("Create")" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> Novo</a>
        </div>
        @Html.TextBox("p", Request.QueryString["p"], new { autofocus = "", @class = "col-md-2 form-control", placeholder = "Procure por CPF" })
        <span class="input-group-btn">
            <button class="btn btn-primary" type="submit"><i class="glyphicon glyphicon-search"></i></button>
        </span>
    </div>
}
<br />

<table class="table">
    <tr>
      
        <th>
            @Html.DisplayNameFor(model => model.Pessoa.cpf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SetorDestino.descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SetorOrigem.descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserEnviou.login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserRecebeu.login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.observacoes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
      
        <td>
            @Html.DisplayFor(modelItem => item.Pessoa.cpf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SetorDestino.descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SetorOrigem.descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserEnviou.login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserRecebeu.login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.observacoes)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.distrib_ProcessoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.distrib_ProcessoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.distrib_ProcessoId })
        </td>
    </tr>
}

</table>
