<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="~/Imagens/favicon.ico">
    <title>@ViewBag.Title - SPTD</title>
    @Styles.Render("~/Content/css")
    @RenderSection("Styles", required: false)
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/bootstrap-datepicker3.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />

</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" style="color:#0B486B">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <span class="fa fa-align-justify botao-menu "></span>
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">

                    <li class="dropdown">

                        <a href="#" class="dropdown-toggle text-branco" data-toggle="dropdown">
                            <i class="fa fa-user fa-fw"></i> <span>@Session["NomeLogin"]</span> <b class="caret"></b>
                            <span hidden>@User.Identity.Name </span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#"></a></li>
                            <li class="divider"></li>
                            <li><a href="@Url.Action("TrocaSenha", "User")"><i class="glyphicon glyphicon-user"></i> Trocar Senha</a></li>
                            <li class="divider"></li>
                            <li><a title="Clique para sair do sistema" href="@Url.Action("Deslogar","Login")"><i class="glyphicon glyphicon-off"></i> Sair </a></li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
    </nav>

    <!-- #region NavBarAntiga -->
    @*<nav class="navbar navbar-menu navbar-fixed-top">
            <div class="navbar-header col-sm-offset-1 col-md-offset-1">
                @Html.ActionLink("Tratamento Fora Domicilio", "Index", "Pessoa", new { area = "" }, new { @class = "navbar-brand navbar-menu menu-slim" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">

                    <li class="dropdown">

                        <a href="#" class="dropdown-toggle text-branco" data-toggle="dropdown">
                            <i class="fa fa-user fa-fw"></i> <span>@Session["NomeLogin"]</span> <b class="caret"></b>
                            <span hidden>@User.Identity.Name </span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#"></a></li>
                            <li class="divider"></li>
                            <li><a href="@Url.Action("TrocaSenha", "User")"><i class="glyphicon glyphicon-user"></i> Trocar Senha</a></li>
                            <li class="divider"></li>
                            <li><a title="Clique para sair do sistema" href="@Url.Action("Deslogar","Login")"><i class="glyphicon glyphicon-off"></i> Sair </a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>*@
    <!-- #endregion -->
    <!-- #endregion -->

  
    <!-- #region Regra do Menu -->
    
        @*<div class="row" style="margin-top:54px"></div>*@
            @if (User.IsInRole("Medico"))
            {
                @Html.Partial("_MenuMedico")
            }
            else
            {
                @Html.Partial("_MenuAdm")
            }
    
    <!-- #endregion -->
    

    <div class="container-fluid principal">

        @Html.Partial("_ErrosSystem")
        <!-- #region MenuOriginal -->
        @*<div style="border:0px;">
            <div class="menu-lateral">
                <ul class="list-group ">

                    <li>
                        <a href="@Url.Action("Create", "Pessoa")">
                            <span style="font-size:16px;" class="fa fa-book"></span>
                            Cadastros
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Processo")">
                            <span class="fa fa-file-text"></span>
                            <span>Processos </span>
                        </a>
                    </li>

                    <li>
                        <a href="@Url.Action("Index", "Movimentacao")">
                            <span class="glyphicon glyphicon-transfer"></span>
                            <span>Distribuir </span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Pericia")">
                            <span class="glyphicon glyphicon-list-alt"></span>
                            <span>Solicita Pericia </span>
                        </a>
                    </li>

                    <li>
                        <a href="@Url.Action("Index", "Setor")">
                            <span class="glyphicon glyphicon-th-large"></span>
                            <span>Setor</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Clinica")">
                            <span class="fa fa-hospital-o"></span>
                            <span>Clinica / Hospital</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Agendamento")">
                            <span class="fa fa-calendar-plus-o"></span>
                            <span>Agendamento</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","Requisicao")">
                            <span class="glyphicon glyphicon-plane"></span>
                            <span>Requisição</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "User")">
                            <span class="fa fa-user"></span>
                            <span>Usuarios</span>
                        </a>
                    </li>
                </ul>

            </div>
        </div>*@

<!-- #endregion -->
        <!-- /.navbar-collapse -->

        @RenderBody()
     

    </div>


    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.pt-BR.min.js"></script>
    <script src="~/Scripts/jquery.maskedinput.min.js"></script>
    <script src="~/Scripts/chosen.jquery.min.js"></script>
    <script src="~/Scripts/chosen-ajax.jquery.js"></script>
    <script src="~/Scripts/Utils.js"></script>

    @RenderSection("scripts", required: false)

    <script>
        $('.botao-menu').click(function () {
            $('.menu-lateral').toggleClass('active');
            $(this).toggleClass('botao-menu-ativo');
            $('.principal').toggleClass('ativo');

        })
    </script>
</body>
</html>
