<div style="border:0px;">
    <div class="menu-lateral">


        <ul class="list-group ">
            <li>
                <a href="@Url.Action("Index", "Pessoa")">
                    <span style="font-size:16px;" class="fa fa-book"></span>
                    Pacientes
                </a>
            </li>
            <li>
                <a href="@Url.Action("ListaDeMedico", "Pessoa")">
                    <span style="font-size:16px;" class="fa fa-book"></span>
                     Medico
                </a>
            </li>
            <li>
                <a href="@Url.Action("ListaDeFuncionario", "Pessoa")">
                    <span style="font-size:16px;" class="fa fa-book"></span>
                    Funcionario
                </a>
            </li>

            <li>
                <a href="@Url.Action("Index", "Processo")">
                    <span class="fa fa-file-text"></span>
                    <span>Processos </span>
                </a>
            </li>

            <li>
                <a href="@Url.Action("Index", "Movimentacao")">
                    <span class="glyphicon glyphicon-transfer"></span>
                    <span>Distribuir </span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Pericia")">
                    <span class="glyphicon glyphicon-list-alt"></span>
                    <span>Pericia </span>
                </a>
            </li>

            <li>
                <a href="@Url.Action("Index", "Setor")">
                    <span class="glyphicon glyphicon-th-large"></span>
                    <span>Setor</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Clinica")">
                    <span class="fa fa-hospital-o"></span>
                    <span>Clinica / Hospital</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Agendamento")">
                    <span class="fa fa-calendar-plus-o"></span>
                    <span>Agendamento</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index","Requisicao")">
                    <span class="glyphicon glyphicon-plane"></span>
                    <span>Requisição</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "User")">
                    <span class="fa fa-user"></span>
                    <span>Usuarios</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("ManutencaoDeCadastro", "Pessoa")">
                    <span class="fa fa-id-card-o fa-lg" aria-hidden="true"></span>
                    <span>Manutenção de Cadastro</span>
                </a>
            </li>
        </ul>

    </div>
</div>
