<div class="navbar navbar-default navbar-static-top menu nav-menu">
    <div class="container">
        <ul class="nav  columns col-md-12">
            <li class="@(SISPTD.Ultis.NavTabs.GetTab(ViewContext,"Pessoa")) ">
                <a href="@Url.Action("Create", "Pessoa")">
                    <h2 class="text-center">
                        <i class="  glyphicon glyphicon-user"></i>
                    </h2>
                    <span>Paciente</span>
                </a>
            </li>
            <li class="@(SISPTD.Ultis.NavTabs.GetTab(ViewContext,"DistribProcesso"))">
                <a href="@Url.Action("Index", "DistribProcesso")">
                    <h2 class="text-center">
                        <span class="glyphicon glyphicon-envelope"></span>
                    </h2>
                    <span>Distribuir </span>
                </a>
            </li>

            <li class="@(SISPTD.Ultis.NavTabs.GetTab(ViewContext,"Pericia"))">
                <a href="@Url.Action("Index", "Pericia")">
                    <h2 class="text-center">
                        <span class="glyphicon glyphicon-list-alt"></span>
                    </h2>
                    <span>Pericia Médica</span>
                </a>
            </li>


            <li class="@(SISPTD.Ultis.NavTabs.GetTab(ViewContext,"Setor"))">
                <a href="@Url.Action("Index", "Setor")">
                    <h2 class="text-center ">
                        <i class="glyphicon glyphicon-inbox"></i>
                    </h2>
                    <span>Setor</span>
                </a>
            </li>
            <li class="@(SISPTD.Ultis.NavTabs.GetTab(ViewContext,"Clinica"))">
                <a href="@Url.Action("Index", "Clinica")">
                    <h2 class="text-center">
                        <i class="glyphicon glyphicon-glass"></i>
                    </h2>
                    <span>Clinica / Hospital</span>
                </a>
            </li>
            <li class="@(SISPTD.Ultis.NavTabs.GetTab(ViewContext,"Agendamento"))">
                <a href="@Url.Action("Index", "Agendamento")">
                    <h2 class="text-center">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </h2>
                    <span>Agendamento</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <h2 class="text-center">
                        <i class="glyphicon glyphicon-plane"></i>
                    </h2>
                    <span>Requisição</span>
                </a>
            </li>
            <li class="@(SISPTD.Ultis.NavTabs.GetTab(ViewContext,"User"))">
                <a href="@Url.Action("Index", "User")">
                    <h2 class="text-center">
                        <i class="glyphicon glyphicon-user"></i>
                    </h2>
                    <span>Usuarios</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<br />  
<br />
<br />
<br />
<br />
<br />











