@model IEnumerable<SISPTD.Models.Pericia>

@{
    ViewBag.Title = "Pericia Medica";
}

<h3><i class="glyphicon glyphicon-list-alt"></i> Pericia Medica</h3>

<p>
    @Html.ActionLink("Nova Pericia", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-striped">
    <tr>
       <th>
        @Html.DisplayNameFor(model => model.Cid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dt_Pericia)
        </th>
      
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cid)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dt_Pericia)
        </td>
       
        <td>
            <a href="@Url.Action("Edit","Pericia", new {id = item.periciaId })"><i class="fa fa-pencil" aria-hidden="true"></i></a> |
            <a href="@Url.Action("Details","Pericia", new {id = item.periciaId })"><i class="fa fa-bars" aria-hidden="true"></i></a> |
            @*@Html.ActionLink("Edit", "Edit", new { id=item.periciaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.periciaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.periciaId })*@
        </td>
    </tr>
}

</table>
