@model PagedList.IPagedList<SISPTD.Models.Pericia>
@using PagedList.Mvc
@{
    ViewBag.Title = "Pericia Medica";
}

<h3><i class="fa fa-list-alt"></i> Pericia Medica</h3>

<div>
    @Html.ActionLink("Nova Pericia", "Create", null, new { @class = "btn btn-primary" })
</div>
<br />

    <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Processos Para Pericia</a></li>
            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Lista de Percias</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">
                @Html.Action("ProcessoEmPericia", "Movimentacao")
            </div>
            <div role="tabpanel" class="tab-pane" id="profile">

                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading"><h5> <i class="fa fa-user fa-lg"> </i> <strong>Lista de Pericias Medicas</strong>   </h5></div>

                    <!-- Table -->
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered table-condensed">
                            <tr>
                                <th>
                                    @Html.DisplayName("CPF")
                                </th>
                                <th>
                                    @Html.DisplayName("Paciente")
                                </th>
                                <th>
                                    @Html.DisplayName("Código Cid")
                                </th>
                                <th>
                                    @Html.DisplayName("Cid")
                                </th>
                                <th>
                                    @Html.DisplayName("Descrição")
                                </th>

                                <th>
                                    @Html.DisplayName("Data da Pericia")
                                </th>

                                <th>
                                    @Html.DisplayName("Ação")

                                </th>
                            </tr>

                            @foreach (var item in Model)
            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Processo.Paciente.cpf)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Processo.Paciente.nome)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Cid.codigoCid)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Cid.descricao)
                                    </td>


                                    <td>
                                        @Html.DisplayFor(modelItem => item.descricao)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.dt_Pericia)
                                    </td>


                                    <td>
                                        <a class="btn-group btn-sm btn-success" title="Editar" href="@Url.Action("Edit", "Pericia",new { id= item.periciaId })" aria-label="Skip to main navigation">
                                            <i class="fa fa-pencil fa-lg" aria-hidden="true"></i>
                                        </a>
                                        <a class="btn-group btn-sm btn-primary" title="Detalhe" href="@Url.Action("Details", "Pericia",new { id= item.periciaId })" aria-label="Skip to main navigation">
                                            <i class="fa fa-align-justify fa-lg" aria-hidden="true"></i>
                                        </a>
                                       

                                    </td>
                                </tr>

                            }


                        </table>
                    </div>

                </div>


                
                <div class="pull-right">
                    <strong>  Pagina @Model.PageNumber de @Model.PageCount </strong>
                    @Html.PagedListPager(Model, pagina => Url.Action("Index", new { pagina }))
                </div>
            </div>
          
        </div>
    </div>






