@model PagedList.IPagedList<SISPTD.Models.Movimentacao>
@using PagedList.Mvc

@if (Model.Any() && Model != null)
{

    <table class="table table-striped table-bordered">
        <tr>
            <th>
                @Html.DisplayName("CPF")
            </th>
            <th>
                @Html.DisplayName("Paciente")
            </th>
            <th>
                @Html.DisplayName("Origem")
            </th>
            <th>
                @Html.DisplayName("Destino")
            </th>
            <th>
                @Html.DisplayName("Usuário Enviou")
            </th>
           
            <th>
                @Html.DisplayName("Envio em")
            </th>
           
            <th>
                @Html.DisplayName("Ação")
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Processo.Paciente.cpf)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Processo.Paciente.nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SetorEnviou.descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SetorRecebeu.descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UsuarioEnviou.Pessoa.nome)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.dtEnvio)
                </td>
               
                <td>
                    <a class="btn-group btn-sm btn-primary" title="Editar" href="@Url.Action("Create", "Pericia",new { pacienteId= item.ProcessoId })" aria-label="Skip to main navigation">
                        <i class="fa fa-check fa-lg" aria-hidden="true"></i>
                    </a>
                </td>
              
            </tr>
        }

    </table>
    
    <div class="pull-right">
        <strong>  Pagina @Model.PageNumber de @Model.PageCount </strong>
        @Html.PagedListPager(Model, pagina => Url.Action("Index", new { pagina }))
    </div>

}
else
{
    <br />
    <h2 class="text-center text-muted">

        <small>
            NENHUM<br />

            PROCESSO NO SETOR DE PERICIA
        </small>
    </h2>
}

