@model PagedList.IPagedList<SISPTD.Models.Agendamento>
@using PagedList.Mvc

@{
    ViewBag.Title = "Agendamento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>
    Agendamento <a class="btn btn-success" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        <i class="fa fa-plus" aria-hidden="true"></i>
    </a>
    <span class="col-md-4 pull-right">

        @using (Html.BeginForm(FormMethod.Get))
            {

            <span class="input-group ">
               
                @Html.TextBox("busca", Request.QueryString["busca"], new { autofocus = "", @class = " form-control", placeholder = "Procure por CPF" })
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </span>
            </span>
        }

    </span>
</h3>

<div class="collapse" id="collapseExample">

    @Html.Partial("_Formulario", new SISPTD.Models.Agendamento() { dt_Agendamento = DateTime.Now })

</div>

<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Processos Para Agendamento</a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Lista de Agendamento</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
           @Html.Action("ProcessoEmAgendamento", "Movimentacao")

        </div>
        <div role="tabpanel" class="tab-pane" id="profile">
            <table class="table table-striped">
                <tr>
                    <th>
                        @Html.DisplayName("Nome")
                    </th>
                    <th>
                        @Html.DisplayName("Usuário")
                    </th>
                    <th>
                        @Html.DisplayName("Data do Agendamento")
                    </th>
                    <th>
                        @Html.DisplayName("Marcado")
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Pessoa.nome)
                        </td>
                     
                        <td>
                            @Html.DisplayFor(modelItem => item.dt_Agendamento)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.dt_Marcacao)
                        </td>
                        <td>
                            <a href="@Url.Action("Edit", "Edit", new { id = item.agendamentoId })"> <i class="fa fa-pencil fa-fw"></i></a> |
                            <a title="Imprimir" href="@Url.Action("Details", "Agendamento", new { id=item.agendamentoId })"> <i class="fa fa-bars fa-lg " aria-hidden="true"></i> </a> |
                            <a href="@Url.Action("Delete", "Delete", new { id = item.agendamentoId })"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                }

            </table>
            <div class="pull-right">
                <strong>Pagina @Model.PageNumber de @Model.PageCount</strong>
                @Html.PagedListPager(Model, pagina => Url.Action("Index", new { pagina }))
            </div>

        </div>

    </div>
</div>







