@model Sptd.Web.Models.Endereco


@Html.ValidationSummary(true, "", new { @class = "text-danger" })
@Html.Hidden("fk_Pessoa", (long?)ViewBag.PessoaId)
<input type="hidden" id="pessoaId" name="name" value="@ViewBag.PessoaId" />
@Html.AntiForgeryToken()

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    @Html.LabelFor(model => model.cep, htmlAttributes: new { autofocus = "", @class = "control-label " })
                    @Html.EditorFor(model => model.cep, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.cep, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.rua, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.rua, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.rua, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    @Html.LabelFor(model => model.numero, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.numero, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.numero, "", new { @class = "text-danger" })
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.bairro, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.bairro, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.bairro, "", new { @class = "text-danger" })
                </div>
            </div>
            @*<div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Cidades.IdEstado, "Estado", htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(e => e.Cidades.IdEstado, ViewBag.Uf as SelectList, new { @class = "form-control chosen-search" })
                        @Html.ValidationMessageFor(model => model.Cidades.Estado, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.fk_CidadeId, "Cidades", htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(c => c.fk_CidadeId, (IEnumerable<SelectListItem>)ViewBag.Cidade, new { @class = "form-control chosen-search" })
                        @Html.ValidationMessageFor(model => model.fk_CidadeId, "", new { @class = "text-danger" })
                    </div>
                </div>*@
        </div>
    </div>
</div>

<div class="well well-sm">
    <a href="#" slavarendereco() class="btn btn-primary btn-confirm">Salvar Endereço</a>
    @Html.ActionLink("Voltar para lista", "Index", null, new { @class = "btn btn-link pull-right" })
</div>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>
