@model IEnumerable<SISPTD.Models.Setor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.descricao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.descricao)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.setorId }) |
            @Html.ActionLink("Details", "Details", new { id=item.setorId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.setorId })
        </td>
    </tr>
}

</table>
