@model IEnumerable<SISPTD.Models.Setor>

@{
    ViewBag.Title = "Cadastro de Setor";
}

<h3><i class="glyphicon glyphicon-th-large"></i> Cadastro de Setor</h3>

<p>
    @Html.ActionLink("Cadastrar novo Setor", "Create", null, new {@class="btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.descricao)
        </th>
        <th>
            @Html.DisplayName("Operação")
        </th>
        <th></th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.descricao)
        </td>

        <td>
            <a title="Editar" class="glyphicon glyphicon-edit " href="@Url.Action("Edit", "Setor", new { id = item.setorId})"></a>
            <a title="Delete" class="glyphicon glyphicon-remove" href="@Url.Action("Delete", "Setor" ,new { id = item.setorId })"></a>
         
        </td>
    </tr>
}

</table>
