@model PagedList.IPagedList<SISPTD.Models.Clinica>
@using PagedList.Mvc
@{
    ViewBag.Title = "Cad Clinica";
}

<h3>
    Clinica <a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Novo
    </a>
    <span class="pull-right">
        <input type="text" name="name" class="form-control  col-md-3" value="" placeholder="Busca por nome ou cpf" />
    </span>
</h3>

<div class="collapse" id="collapseExample">

    @Html.Partial("_Formulario", new SISPTD.Models.Clinica())

</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Cidade")
        </th>
        <th>
            @Html.DisplayName("Clinica")
        </th>
        <th>
            @Html.DisplayName("Telefone")
        </th>
        <th>
            @Html.DisplayName("Operação")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cidades.Cidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nome_Clinica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tel_Clinica)
        </td>
        <td>
            <a title="Editar" class="glyphicon glyphicon-edit " href="@Url.Action("Edit", "Clinica", new { id = item.clinicaId})"></a> |
            <a title="Delete" class="glyphicon glyphicon-remove" href="@Url.Action("Delete", "Clinica" ,new { id = item.clinicaId })"></a>

        </td>
    </tr>
}

</table>
<div class="pull-right">
    <strong>Pagina @Model.PageNumber de @Model.PageCount</strong>
    @Html.PagedListPager(Model, pagina=> Url.Action("Index", new { pagina}))
</div>
