@model IEnumerable<SISPTD.Models.Clinica>

@{
    ViewBag.Title = "Index";
}

<h3>Cadastro de Clinicas e Hospitais</h3>

<p>
    @Html.ActionLink("Cadastrar", "Create",null, new {@class="btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cidades.Cidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nome_Clinica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tel_Clinica)
        </th>
        <th>
            @Html.DisplayName("Operação")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cidades.Cidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nome_Clinica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tel_Clinica)
        </td>
        <td>
            <a title="Editar" class="glyphicon glyphicon-edit " href="@Url.Action("Edit", "Clinica", new { id = item.clinicaId})"></a> |
            <a title="Delete" class="glyphicon glyphicon-remove" href="@Url.Action("Delete", "Clinica" ,new { id = item.clinicaId })"></a>

        </td>
    </tr>
}

</table>
