@model PagedList.IPagedList<SISPTD.Models.User>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}
<h3><i class="fa fa-user"></i> Cadastro de Usuário</h3>
<div class="row">
    <div class="col-xs-6">
        <div>
            @Html.Partial("_Formulario", new SISPTD.Models.User())
        </div>
    </div>
    <div class="col-xs-6">

        <div class="row">

            <div class="col-md-8 col-md-offset-4">
                <div>
                    @using (Html.BeginForm(FormMethod.Get))
            {

                        <div class="input-group ">
                            @Html.TextBox("busca", Request.QueryString["busca"], new { autofocus = "", @class = " form-control", placeholder = "Procure pelo nome" })
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                            </span>
                        </div>
                    }
                    <br />
                </div>
            </div>
        </div>

        <table class="table table-condensed">
            <tr>
                <th>
                    @Html.DisplayName("Nome")
                </th>
                <th>
                    @Html.DisplayName("Login")
                </th>
                <th>
                    @Html.DisplayName("Setor")
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pessoa.nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.login)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Setor.descricao)
                    </td>
                    <td>
                        <a title="Editar" href="@Url.Action("Edit", "User", new { id = item.usuarioId})"><i class="fa fa-pencil fa-fw"></i></a>
                        @*<a title="Delete" href="@Url.Action("Delete", "Setor" ,new { id = item.setorId })"><i class="fa fa-trash-o" aria-hidden="true"></i></a>*@
                    </td>
                </tr>

            }

        </table>

        <div class="pull-right">
            <strong>Pagina @Model.PageNumber  de @Model.PageCount</strong>
            @Html.PagedListPager(Model, pagina => Url.Action("Index", new { pagina }))
        </div>
    </div>
</div>
