@model IEnumerable<SISPTD.Models.User>
@{
    ViewBag.Title = "Index";
}
<h3><i class="fa fa-user-plus" aria-hidden="true"></i> Usuários do Sistema </h3>
<br /><br />
<div class="col-md-4"></div>
<div class="col-md-4 col-md-offset-4">
    @using (Html.BeginForm())
    {
        <div class="input-group">
            <div class="input-group-btn">
                <a href="@Url.Action("Create")" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> Novo</a>
            </div>
            @Html.TextBox("user", Request.QueryString["user"], new { autofocus = "", @class = "cpf form-control", placeholder = "Procure por CPF" })
            <span class="input-group-btn">
                <button class="btn btn-primary" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </span>
        </div>
    }
</div>
<br /><br /><br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pessoa.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.login)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pessoa.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.login)
            </td>
            @*<td>
                @Html.ActionLink("Edit", "Edit", new { id = item.usuarioId }) |
                @Html.ActionLink("Details", "Details", new { id = item.usuarioId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.usuarioId })
            </td>*@
            <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.usuarioId }) |
            @*@Html.ActionLink("Details", "Details", new { id = item.usuarioId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.usuarioId })*@
        </td>
        </tr>
    }
</table>
