@model SISPTD.Models.Requisicao

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Requisicao</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CidadeDestino.Cidade)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CidadeDestino.Cidade)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CidadeOrigem.Cidade)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CidadeOrigem.Cidade)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Pessoa.cpf)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Pessoa.cpf)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.User.login)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.User.login)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.observacoes)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.observacoes)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.trecho)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.trecho)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.requisicaoId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
