@model SISPTD.Models.Processo

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-md-4">
                    @Html.Label("CPF")
                    <div class="input-group">
                        @Html.TextBox("buscarPacienteDistrib", Request.QueryString["CPF"], new { autofocus = "", @class = "  cpf col-md-2 form-control", placeholder = "Procure por CPF" })
                        <span class="input-group-btn"><button type="button" class="btn btn-success buscarPacienteDistrib"><i class="glyphicon glyphicon-search"></i></button></span>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        @Html.Label("Nome do Paciente")
                        <input type="text" id="nomePacienteDistrib" readonly class="form-control paciente" name="name" value=" " />
                        <input type="hidden" id="idPacienteDistrib" class="form-control paciente" name="pacienteProcessoId" value=" " />
                    </div>

                </div>
            </div>
            <div class="row">
              
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Procedimento")
                        @Html.EditorFor(model => model.Procedimento, new { htmlAttributes = new {@class = "form-control" } })
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Codigo CID")
                        @Html.DropDownList("cidId", new List<SelectListItem>(), "Selecione...", new { @class = "form-control", data_url = @Url.Action("PesquisaCid", "Cid") })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Clinica")
                        @Html.EditorFor(model => model.Clinica, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        @Html.Label("Carater de Internação")
                        @Html.EditorFor(model => model.CaraterInternacao, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>


            </div>
            <div class="row">
                <div class="col-md-11">
                    <span style="font-size:20px;"><i class="fa fa-user-md" aria-hidden="true"></i> </span> <strong> Dados do Medico Solicitante</strong>
                </div>
                <div id="btCriaMedico" style="display:none" class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"></span></button>
                    <strong>Ops!</strong> Não foi Possivel localizar o  Medico Deseja Cadastra-lo:.
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    @Html.Label("CPF", htmlAttributes: new { @class = "control-label" })
                    <div class="input-group">
                        @Html.TextBox("buscarMedico", Request.QueryString["CPF"], new { @class = " procurarMedico cpf col-md-2 form-control ", placeholder = "Procure por CPF" })
                        <span class="input-group-btn"><button type="button" class="btn btn-success"><i class="glyphicon glyphicon-search"></i></button></span>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        @Html.Label("Nome", htmlAttributes: new { @class = "control-labe" })
                        <input type="text" readonly id="nomeDoMedico" data-id="" class="form-control " name="name" />
                        <input type="hidden" id="idDoMedico" name="medicoProcessoId" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.Label("Cartão do SUS", htmlAttributes: new { @class = "control-label" })
                        <input type="text" readonly id="cnsDoMedico" data-id="" class="form-control cns " name="cnsDoMedico" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.Label("Telefone", htmlAttributes: new { @class = "control-label" })
                        <input type="text" readonly id="telDoMedico" data-id="" class="form-control " name="telDoMedico" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.Label("CRM", htmlAttributes: new { @class = "control-labe" })
                        <input type="text" readonly id="crmDoMedico" data-id="" class="form-control " name="crmDoMedico" />
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        @Html.LabelFor(model => model.observacoes, htmlAttributes: new { @class = "control-label" })
                        @Html.TextAreaFor(model => model.observacoes, 5, 175, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.observacoes, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
    

    <div class="well well-sm">
        <input type="submit" name="name" value="Gravar " class="btn btn-primary" />
        @Html.ActionLink("Voltar Para Lista", "Index", null, new { @class = "btn btn-link pull-right" })
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}




