@model IEnumerable<SISPTD.Models.Processo>

<div>
    <h3><i class="glyphicon glyphicon-transfer"></i> Distrição de Processo</h3>
</div>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 col-md-offset-4">

       @using (Html.BeginForm())
       {
        <div class="input-group">
            <div class="input-group-btn">
                <a href="@Url.Action("Create")" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> Novo</a>
            </div>
            @Html.TextBox("buscar", Request.QueryString["buscar"], new { autofocus = "", @class = " cpf form-control", placeholder = "Procure por CPF" })
            <span class="input-group-btn">
                <button class="btn btn-primary" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </span>
        </div>
       }

    </div>
</div>


<br />

<table class="table">
    <tr>
      
        <th>
            @Html.DisplayNameFor(model => model.Pessoa.nome)
        </th>
        <th>
            @Html.DisplayName("Setor Origem")
        </th>
        <th>
            @Html.DisplayName("Setor Destino")
        </th>
        <th>
            @Html.DisplayName("Usuario Enviou")
        </th>
        <th>
            @Html.DisplayName("Usuario Recebeu")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.observacoes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
      
        <td>
            @Html.DisplayFor(modelItem => item.Pessoa.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SetorOrigem.descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SetorDestino.descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserEnviou.Pessoa.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserRecebeu.Pessoa.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.observacoes)
        </td>
        <td>
            <a title="Recepcionar" href="@Url.Action("Edit", "DistribProcesso", new { id = item.distrib_ProcessoId})"><i class="fa fa-check" aria-hidden="true"></i></a>
            <a title="Detalhe" href="@Url.Action("Details", "DistribProcesso" ,new { id = item.distrib_ProcessoId })"><i class="fa fa-bars" aria-hidden="true"></i></a>
           @* @Html.ActionLink("Delete", "Delete", new { id=item.distrib_ProcessoId })*@
        </td>
    </tr>
}

</table>
