
@model PagedList.IPagedList<SISPTD.Models.Processo>
@using PagedList.Mvc
@{ 
    ViewBag.Title = "Processos";
}
   

<div>
    <h3><i class="glyphicon glyphicon-transfer"></i> Processo</h3>
</div>

<div class="row">
    <div class="col-md-4 ">
    </div>
    <div class="col-md-4 col-md-offset-4">

        @using (Html.BeginForm())
        {
            <div class="input-group">
                <div class="input-group-btn">
                    <a href="@Url.Action("Create")" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> Novo</a>
                </div>
                @Html.TextBox("buscar", Request.QueryString["buscar"], new { autofocus = "", @class = "  form-control", placeholder = "Procure por CPF ou CNS" })
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </span>
            </div>
        }

    </div>
</div>


<br />
<div class="table-responsive">
    <table class="table table-striped table-bordered table-responsive">
        <tr>
            <th>
                @Html.DisplayName("Nº do Processo")
            </th>

            <th>
                @Html.DisplayName("Paciente")
            </th>


            <th>
                @Html.DisplayName("Observações")
            </th>
            <th>
                @Html.DisplayName("Operações")
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.processoId)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Paciente.nome)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.observacoes)
                </td>
                <td>
                    <a class="btn-group btn-sm btn-primary" title="Editar" href="@Url.Action("Edit", "Processo",new { id=item.processoId })" aria-label="Skip to main navigation">
                        <i class="fa fa-pencil fa-lg" aria-hidden="true"></i>
                    </a>

                    <a class="btn-group btn-sm btn-primary" title="Editar" href="@Url.Action("DetalheDoMovProcesso", "Movimentacao",new { id=item.processoId })" aria-label="Skip to main navigation">
                        <i class="fa fa-bars fa-lg" aria-hidden="true"></i>
                    </a>
                    <a class="btn-group btn-sm btn-primary" title="Editar" href="@Url.Action("Create", "Movimentacao",new { id=item.processoId })" aria-label="Skip to main navigation">
                        <i class="fa fa-exchange fa-lg" aria-hidden="true"></i>
                    </a>

                  


                    @* @Html.ActionLink("Delete", "Delete", new { id=item.distrib_ProcessoId })*@
                </td>
            </tr>
        }

    </table><br />

</div>
<div class="pull-right">
    <strong>Pagina @Model.PageNumber de @Model.PageCount</strong>
    @Html.PagedListPager(Model, pagina => Url.Action("Index", new { pagina }))
</div>


@*@section scripts{
    <script>
        $(function () {
            $(".edit").click(function () {
                debugger
                var id = $(this).attr("data-id");
                $("#modal").load("Movimentacao/Create?id=" + id, function () {
                    $("#modal").modal();
                })
            });
        })
    </script>
}*@







