@model SISPTD.Models.Pessoa
<span class="text-danger pull-right"><i class="glyphicon glyphicon-info-sign "></i> Os campos em vermelho são de preenchimento obrigatório.</span>

<h2>Cadastro de Acompanhante</h2>
<div>
    @Html.Hidden("pessoaId", (long?)ViewBag.pessoaId)
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="panel panel-default">
        <div class="panel-body">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.cpf, new { @class = "text-danger" })
                        @Html.EditorFor(model => model.cpf, new { htmlAttributes = new { @class = "form-control " } })
                        @Html.ValidationMessageFor(model => model.cpf, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.nome, new { @class = "text-danger " })
                        @Html.EditorFor(model => model.nome, new { htmlAttributes = new { @class = " uperText form-control" } })
                        @Html.ValidationMessageFor(model => model.nome, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.dt_Nascimento, new { @class = "text-danger" })
                        @Html.EditorFor(model => model.dt_Nascimento, new { htmlAttributes = new { @type = "Date", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.dt_Nascimento, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.rg, new { @class = "text-danger" })
                        @Html.EditorFor(model => model.rg, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.rg, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.orgaoemissor, new { @class = "text-danger" })
                        @Html.EditorFor(model => model.orgaoemissor, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.orgaoemissor, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.dt_Emissao, new { @class = "text-danger" })
                        @Html.EditorFor(model => model.dt_Emissao, new { htmlAttributes = new { @type = "Date", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.dt_Emissao, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.cns, new { @class = "text-danger" })

                        @Html.EditorFor(model => model.cns, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.cns, "", new { @class = "text-danger" })

                    </div>
                </div>

            </div>
          
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.tel, new { @class = "text-danger" })
                        @Html.EditorFor(model => model.tel, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.tel, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.cel)
                        @Html.EditorFor(model => model.cel, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.cel, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.email)
                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.cep)
                        @Html.EditorFor(model => model.cep, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.cep, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="form-group">
                        @Html.Label("Rua")
                        @Html.EditorFor(model => model.endereco, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.endereco, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.numero)
                        @Html.EditorFor(model => model.numero, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.numero, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.bairro)
                        @Html.EditorFor(model => model.bairro, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.bairro, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="well well-sm">
        <button type="submit" name="name" class="btn btn-primary "> <i class="fa fa-floppy-o fa-lg"></i>  Gravar</button>
        <a class="btn btn-success pull-right" href="@Request.UrlReferrer"> <i class="fa fa-arrow-left fa-lg"></i>  Voltar para Lista </a>
    </div>


}



