@model SISPTD.Models.Pessoa

@{
    ViewBag.Title = "Delete";
}

<h2><strong>Delete</strong>   </h2>
<div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    Tem certeza de que deseja excluir ?<br /><strong>@Html.DisplayFor(model => model.nome)!</strong> 
</div>
<div>
    <div class="panel panel-danger">
        <div class="panel-heading">
            
        </div>
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Pessoa2.cpf)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Pessoa2.cpf)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.dt_Cadastro)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.dt_Cadastro)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.cpf)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.cpf)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.cns)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.cns)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.rg)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.rg)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.orgaoemissor)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.orgaoemissor)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.dt_Emissao)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.dt_Emissao)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.nome)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.nome)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.dt_Nascimento)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.dt_Nascimento)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.email)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.nome_Mae)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.nome_Mae)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.nome_Pai)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.nome_Pai)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.tel)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.tel)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.cel)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.cel)
                </dd>

            </dl>
        </div>
    </div>
    <hr />
   

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="well well-sm">
        <input type="submit" name="name" class="btn btn-primary" value="Delete " />
        @Html.ActionLink("Voltar para lista", "Index", null, new { @class = "btn btn-link pull-right" })
    </div>
    }
</div>
