@model SISPTD.Models.Pessoa
<span class="text-danger pull-right"><i class="glyphicon glyphicon-info-sign "></i> Os campos com (*) são de preenchimento obrigatório.</span>

@{
    ViewBag.Title = "Editar Acompanhate";
}

<h3><i class="fa fa-users fa-lg" aria-hidden="true"></i> Editar Acompanhante</h3>
@using (Html.BeginForm())
{
    @Html.HiddenFor(p=>p.acompanhanteId)
    @Html.HiddenFor(p => p.pessoaId)
    @Html.HiddenFor(p => p.TipoPessoa)
    @Html.HiddenFor(p => p.Endereco.enderecoId)

    @Html.Partial("_FormAcompanhante", Model)

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

