@model IEnumerable<SISPTD.Models.Pessoa>

@{
    ViewBag.Title = "Lista de Pessoa";
}


@using (Html.BeginForm(FormMethod.Get))
{
    <div class="input-group">
        <div class="input-group-btn">
            <a href="@Url.Action("Create")" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> Novo</a>
        </div>
        @Html.TextBox("busca", Request.QueryString["busca"], new { autofocus = "", @class = "col-md-2 form-control", placeholder = "Procure por CPF" })
        <span class="input-group-btn">
            <button class="btn btn-primary" type="submit"><i class="glyphicon glyphicon-search"></i></button>
        </span>
    </div>
}
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cpf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dt_Nascimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.orgaoemissor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dt_Emissao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cns)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cel)
        </th>
        <th></th>

        <th>
            @Html.DisplayName("Operação")
        </th>
      
    </tr>

    @foreach (var item in Model)
    {
        <tr>
          
            <td>
                @Html.DisplayFor(modelItem => item.cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nome)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dt_Nascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.orgaoemissor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dt_Emissao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cns)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cel)
            </td>
          
            <td></td>
            <td >
                @Html.Partial("_Links",item)
            </td>
        </tr>
    }

</table>
