@model Sptd.Web.Models.Pessoa

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Pessoa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Endereco.rua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Endereco.rua)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pessoa2.cpf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pessoa2.cpf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dt_Cadastro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dt_Cadastro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cpf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cpf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cns)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cns)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dt_Nascimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dt_Nascimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nome_Mae)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome_Mae)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nome_Pai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome_Pai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cel)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
