@model IEnumerable<Sptd.Web.Models.Pessoa>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.Endereco.rua)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Pessoa2.cpf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dt_Cadastro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cpf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cns)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rg)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dt_Nascimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nome_Mae)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nome_Pai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cel)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Endereco.rua)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pessoa2.cpf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dt_Cadastro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cpf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cns)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dt_Nascimento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nome_Mae)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nome_Pai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cel)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.pessoaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.pessoaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.pessoaId })
        </td>
    </tr>
}

</table>
